[user]
	name = Berkcan Tezcaner
	email = berkcan.tezcaner@gmail.com
[core]
	autocrlf = input
	excludesfile = /Users/berkcantezcaner/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true